<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.bdqn.mapper.provider.ProviderMapper">
	
	<sql id="select">
			<if test="proCode != null">and proCode like '%${proCode}%'</if>
			<if test="proName != null">and proName like '%${proName}%'</if>
			<if test="proDesc != null">and proDesc like '%${proDesc}%'</if>
			<if test="proContact != null">and proContact like '%${proContact}%'</if>
			<if test="proPhone != null">and proPhone like '%${proPhone}%'</if>
			<if test="proAddress != null">and proAddress like '%${proAddress}%'</if>
			<if test="proPhone != null">and proPhone like '%${proPhone}%'</if>
			<if test="proAddress != null">and proAddress like '%${proAddress}%'</if>
			<if test="proFax != null">and proFax like '%${proFax}%'</if>
	</sql>
	
	<sql id="select2">
			<if test="proCode != null">and proCode = #{proCode}</if>
			<if test="proName != null">and proName = #{proName}</if>
			<if test="proDesc != null">and proDesc = #{proDesc}</if>
			<if test="proContact != null">and proContact = #{proContact}</if>
			<if test="proPhone != null">and proPhone = #{proPhone}</if>
			<if test="proAddress != null">and proAddress = #{proAddress}</if>
			<if test="proPhone != null">and proPhone = #{proPhone}</if>
			<if test="proAddress != null">and proAddress = #{proAddress}</if>
			<if test="proFax != null">and proFax = #{proFax}</if>
	</sql>
	
	<select id="getAllCount" parameterType="provider" resultType="java.lang.Integer">
		select count(*) from smbms_provider
		<where>
			<include refid="select"></include>
		</where>
	</select>
	
	<select id="findAll" resultType="provider" parameterType="provider">
			select * from smbms_provider
	<where>
		<include refid="select"></include>
	</where>
		limit #{page.suoYin},#{page.myTiao}
	</select>
	
	<select id="findAll2" resultType="provider" parameterType="provider">
			select * from smbms_provider
	</select>
	
	<select id="getOnePro" parameterType="provider" resultType="provider">
		select * from smbms_provider
	<where>
		<include refid="select2"></include>
	</where>
	</select>
	
	<insert id="insertPro" parameterType="provider">
		insert into smbms_provider(proCode,proName,proDesc,proContact,proPhone,proAddress,proFax,createdBy,creationDate) values(#{proCode},#{proName},#{proDesc},#{proContact},#{proPhone},#{proAddress},#{proFax},#{createdBy},#{creationDate})
	</insert>
	
	<delete id="delectPro" parameterType="provider">
		delete from smbms_provider where proCode=#{proCode}
	</delete>
	
	<update id="updatePro" parameterType="provider">
		update smbms_provider set proName=#{proName},proContact=#{proContact},proPhone=#{proPhone},proFax=#{proFax},proDesc=#{proDesc},modifyBy=#{modifyBy},modifyDate=#{modifyDate} where proCode=#{proCode}
	</update>
	
</mapper>
